body {
    padding: 0;
    margin: 0;
    font-family: Arial, sans-serif;
    box-sizing: border-box;
}

.container {
    width: 700px;
    margin: 40px auto;
    padding: 20px;
    border-radius: 8px;
}

h1, h2 {
    text-align: center;
}

h2 {
    margin-top: 40px;
}

/* Form Styles */

form {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

input {
    padding: 8px;
}

button {
    padding: 8px 15px;
    cursor: pointer;
}

/* Table Styles */

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #aaa;
    padding: 8px;
    text-align: center;
}

.edit {
    background: orange;
    color: white;
    border: none;
    margin-right: 5px;
}


.delete {
    background: red;
    color: white;
    border: none;
}